<header class="bg-highlight text-button-text">
    <div class="max-w-7xl mx-auto px-4 py-4 flex justify-between items-center">
        <h1 class="text-2xl font-bold">Parkman</h1>
        <nav class="space-x-4">
            <a href="/" class="hover:text-tertiary">Domů</a>
            <a href="/register" class="hover:text-tertiary">Registrace</a>
            <a href="/login" class="hover:text-tertiary">Login</a>
        </nav>
    </div>
</header>
