<nav class="bg-highlight p-4 text-button-text">
    <ul class="flex space-x-4">
        <li><a href="/" class="hover:text-tertiary">Home</a></li>
        <li><a href="/register" class="hover:text-tertiary">Register</a></li>
    </ul>
</nav>
