@page "/confirm-email"
@inject Parkman.Frontend.ViewModels.ConfirmEmailViewModel VM

<div class="container py-4 text-center">
    <h3 class="mb-3 h4">Email Confirmation</h3>
    <p>@VM.Message</p>
</div>
